.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container > h2{
    text-align: center;
    font-size: var(--heading-secondary);
    color: var(--black);
}

.about-description{
    max-width: 960px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-description p {
    font-size: var(--body-text-default);
    color: var(--black);
    opacity: 0.8;
}

.section-wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.section-wrapper > p {
    color: var(--black);
    opacity: 0.8;
}

@media only screen and (max-width: 768px) {
    .section-wrapper > a{
        display: none;
    }
}
