.project{
    width: min(298px, 100vw);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-img{
    height: calc(min(298px, 100vw)*0.625);
    border-radius: 8px;
    box-shadow: var(--light-shadow);
}

.project-content{
    flex-grow: 1;
}

.project-content > h3{
    font-size: var(--body-text-default);
    color: var(--black);
}

.project-content > p{
    font-size: var(--body-text-small);
    color: var(--black);
    opacity: 0.8;
}

.button-wrapper{
    display: flex;
    gap: 0.5rem;
}

.button-wrapper > a{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--body-text-small);
}