@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.glide-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    .glide{
        width: 100%;
        height: calc(clamp(312px,40vw,480px)*0.625);
        position: static;
        width: clamp(312px,40vw,480px);
        aspect-ratio: 16 / 10;
        margin: auto;
        &.glide--swipeable{
            cursor: default;
        }
        .glide__arrow{
            top: calc(50% - 1.5rem);
            padding: 1rem;
            border: none;
            border-radius: 50%;
            background: var(--white);
            box-shadow: var(--light-shadow);
            transition: 0.35s background ease-in-out;
            &.glide__arrow--left{
                left: 1rem;
            }
            &.glide__arrow--right{
                right: 1rem;
            }
            svg{
                transition: 0.35s fill ease-in-out;
            }
            &:hover{
                background: var(--blue);
                svg{
                    fill: white;
                }
            }
        }
        .glide__track{
            width: 100%;
            height: 100%;
            overflow: visible !important;
            .glide__slides{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                overflow: unset;
                .glide__slide{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    box-shadow: var(--light-shadow);
                    overflow: hidden;
                    .overlay{
                        bottom: -100%;
                        transition: 0.5s bottom ease-in-out;
                    }
                    &.glide__slide--active{
                        .overlay{
                            bottom: 0;
                        }
                    }
                }
            }
        }
        .glide__bullets{
            bottom: 0;
            .glide__bullet{
                background: var(--black);
                border: none;
                opacity: 0.3;
                transition: 0.35s opacity ease-in-out;
                &.glide__bullet--active,
                &:hover,
                &:focus{
                    opacity: 1;
                }
            }
        }
    }
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
  
    &__tab-list { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.75rem;
        margin-bottom: 2rem;
    }
  
    &__tab {
        border: 1px solid transparent;
        list-style: none;
        padding: 0.5rem 1.25rem;
        border-radius: 99px;
        font-weight: 600;
        color: var(--blue);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: 0.4s color ease-in-out;
        
        &--selected {
            color: white;
            background: var(--main-gradient);
            box-shadow: var(--light-shadow);
        }

        &::after{
            content: "";
            width: 0%;
            height: 100%;
            background: var(--main-gradient);
            position: absolute;
            top: 0;
            left: -20px;
            transform: skewX(30deg);
            transition: 0.4s width ease-in-out;
            z-index: -1;
        }
        
        &:hover{
            color: white;
            &::after{
                width: 150%;
            }
        }

        &::before{
            content: "";
            inset: 0;
            position: absolute;
            border: 2px solid transparent;
            border-radius: 99px;
            background: var(--main-gradient) border-box;
            mask:
                linear-gradient(#fff 0 0) padding-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask:
                linear-gradient(#fff 0 0) padding-box, 
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
            -webkit-mask-composite: xor;
        }
    
        &:focus {
            outline: none;
        }
    }
  
    &__tab-panel {
      display: none;
  
      &--selected {
        display: flex;
      }
    }
  }